<a href="https://colab.research.google.com/github/Gabe-flomo/Python-Course/blob/main/Projects/Review/remove%20missing%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions 
The CEO of a company called *`we love numbers`* has noticed that some of their datasets don't look right. Parts of the dataset have values other than numbers, which makes the CEO very mad because he loves numbers ðŸ˜¡. You've been hired to help clean their datasets by adding the rows that contain numbers only to a new list called `cleaned_data`. Any of the rows that have the data types `str` or `bool` can be converted to `floats`, however, `lists` and `None` cannot be converted to `floats`.
--

### Expectations
1. Remove any rows that have elements other than the type `int` or `float`
2. Convert data types that can be converted to a `float`
3. Count how many rows that were to be removed

### Example output
```python 
data = [
    [1,1,1,0,2,"3",True, True],
    [1.54,1,[],0,2,[],None, True],
    [1,0,0,1,5,"3",1, 1],
    [1,1.6,1,0,6,"0.93",False, 0],
    [1,1,1.9,0,7,"3",None, True],
    [1,1,1,0,"8","3.23",.5, "32"],
    [1,1,1,0,2.2,.99,.432, 1.55]
]
```
`There were 2 rows removed`

`Cleaned data`
```python
    [1,1,1,0,2,3,1, 1],
    [1,0,0,1,5,3,1, 1],
    [1,1.6,1,0,6,0.93,0, 0],
    [1,1,1,0,8,3.23,.5, 32],
    [1,1,1,0,2.2,.99,.432, 1.55]

```

In [15]:
#TODO Clean the dataset
data = [
    [1, 1, 1, 0, 2, "3", True, True],
    [1.54, 1, [], 0, 2, [], None, True],
    [1, 0, 0, 1, 5, "3", 1, 1],
    [1, 1.6, 1, 0, 6, "0.93", False, 0],
    [1, 1, 1.9, 0, 7, "3", None, True],
    [1, 1, 1, 0, "8", "3.23", .5, "32"],
    [1, 1, 1, 0, 2.2, .99, .432, 1.55]
]
cleaned_dataset = []

for index in range(len(data)):
    remove_row = False
    row = data[index]
    for col in range(len(row)):
        value = row[col]
        if type(value) == list or value == None:
            remove_row = True
            break
        else:
            row[col] = float(row[col])
    
    if not remove_row:
        cleaned_dataset.append(row)

cleaned_dataset

Row values: [1, 1, 1, 0, 2, '3', True, True]
Row values: [1.54, 1, [], 0, 2, [], None, True]
Row values: [1, 0, 0, 1, 5, '3', 1, 1]
Row values: [1, 1.6, 1, 0, 6, '0.93', False, 0]
Row values: [1, 1, 1.9, 0, 7, '3', None, True]
Row values: [1, 1, 1, 0, '8', '3.23', 0.5, '32']
Row values: [1, 1, 1, 0, 2.2, 0.99, 0.432, 1.55]

[[1.0, 1.0, 1.0, 0.0, 2.0, 3.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 1.0, 5.0, 3.0, 1.0, 1.0],
 [1.0, 1.6, 1.0, 0.0, 6.0, 0.93, 0.0, 0.0],
 [1.0, 1.0, 1.0, 0.0, 8.0, 3.23, 0.5, 32.0],
 [1.0, 1.0, 1.0, 0.0, 2.2, 0.99, 0.432, 1.55]]

In [9]:
type(None)

NoneType